:root {
  --User_Main_Font: "Varela Round", sans-serif;
  --User--PopUp_Fontsize: 18px;
  --User--PopUp_Icon_Size: 22px;
  --User_Element_Fontsize: 35px;
}

.User_Page {
  position: relative;
}

.User_PopUp {
  position: absolute;
  top: -80px;
  left: 0px;
  z-index: 10;
  width: 100%;
  transition: all 0.7s ease-in-out;
}

.User_PopUp--Active {
  top: 80px;
}

.User_PopUp_Card {
  background-color: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  gap: 2em;
  min-width: 500px;
  max-width: 800px;
  width: fit-content;
  border-style: none;
  border-radius: 10px;
  border: 2px solid white;
  padding: 1em 2em;
  margin-inline: auto;
}

.User_PopUp_Card--Good {
  box-shadow: 15px 0px rgb(15, 210, 15) inset;
}

.User_PopUp_Card--Bad {
  box-shadow: 15px 0px rgb(210, 15, 15) inset;
}

.User_PopUp--Message {
  font-family: var(--User_Main_Font);
  font-size: var(--User--PopUp_Fontsize);
  color: white;
  min-width: 80%;
  width: fit-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.User_PopUp--Icon {
  font-size: var(--User--PopUp_Icon_Size);
}

.User_PopUp--Icon--Good {
  color: rgb(112, 224, 0);
}

.User_PopUp--Icon--Bad {
  color: rgb(213, 15, 15);
}

.User_Navbar {
  position: inherit;
  z-index: 20;
  background-color: rgb(30, 140, 60);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em 3em;
}

.User_App--Logo_And_Name {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.User_App--Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-style: none;
  border-radius: 50%;
}

.User_App--Name {
  font-family: var(--User_Main_Font);
  font-size: var(--User_Element_Fontsize);
  font-weight: 700;
  color: white;
}

.User_Nav_Options {
  display: flex;
  gap: 1em;
}

.User_Nav_Options--Navlink {
  position: relative;
}

.User_Nav_Options--Alert {
  position: absolute;
  top: 0px;
  right: 0px;
  color: rgb(210, 15, 15);
}

.User_Nav_Options--Active {
  color: rgb(45, 45, 60);
}

.User_Nav_Options--Inactive {
  color: white;
}

.User_Nav_Options--Icon {
  font-size: var(--User_Element_Fontsize);
}

.User_Outlet_Container {
  height: calc(100dvh - 70px);
}

.Inactive {
  display: none;
}

@media (max-width: 1000px) {
  :root {
    --User_Element_Fontsize: 30px;
  }

  .User_Navbar {
    height: 60px;
    padding-inline: 1em 2em;
  }

  .User_App--Logo {
    height: 45px;
    width: 45px;
  }

  .User_Outlet_Container {
    height: calc(100dvh - 60px);
  }
}

@media (max-width: 600px) {
  :root {
    --User--PopUp_Fontsize: 16px;
    --User--PopUp_Icon_Size: 20px;
    --User_Element_Fontsize: 25px;
  }

  .User_PopUp {
    top: -50px;
    padding-inline: 1em;
  }

  .User_PopUp--Active {
    top: 60px;
  }

  .User_PopUp_Card {
    gap: 1em;
    min-width: 250px;
    width: 100%;
  }

  .User_Navbar {
    height: 50px;
    padding-inline: 1em;
  }

  .User_App--Logo_And_Name {
    gap: 0.3em;
  }

  .User_App--Logo {
    height: 35px;
    width: 35px;
  }

  .User_Outlet_Container {
    height: calc(100dvh - 50px);
  }
}
