:root {
  --Chat_Main_Font: "Inter", sans-serif;
  --Chat_Sub_Font: "Varela Round", sans-serif;
  --Chat_Username: 16px;
  --Chat_Message: 18px;
  --Message_Input: 17px;
  --Enter_Name_Note: 18px;
  --Submit_Name_Button: 16px;
}

.Chat_App {
  background-color: rgb(25, 25, 25);
  color: white;
  height: 100%;
  width: 100%;
}

.Chat_App--Container {
  background-color: black;
  height: 100%;
  max-width: 1800px;
  margin: 0em auto;
}

.Chat_App--Chats {
  height: calc(100% - 40px);
  width: 100%;
  padding: 0em 0.7em;
  overflow-y: scroll;
}

.Chat_App--Chat_Message {
  background-color: rgb(65, 65, 65);
  width: fit-content;
  padding: 0.6em 1.5em;
  border-style: none;
  margin: 0.2em 0em;
}

.Chat_App--Chat_Message--Others {
  margin-right: auto;
  border-radius: 15px 15px 15px 3px;
}

.Chat_App--Chat_Message--Own {
  margin-left: auto;
  border-radius: 15px 15px 3px 15px;
}

.Chat_App--Chat_Message p {
  font-family: var(--Chat_Sub_Font);
}

.Chat_App--Chat_Message--Username {
  font-size: var(--Chat_Username);
  font-weight: 600;
  margin-bottom: 0.3em;
}

.Chat_App--Chat_Message--Username--Inactive {
  display: none;
}

.Chat_App--Chat_Message--Message {
  font-size: var(--Chat_Message);
}

.Chat_App--Type_Message {
  background-color: rgb(25, 25, 25);
  height: 40px;
}

.Chat_App--Type_Message--Form {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Chat_App--Type_Message--Form input {
  font-size: var(--Message_Input);
  display: inline-block;
  width: 70%;
  padding: 0.4em 0em 0.2em 0.3em;
  margin-right: 0.5em;
}

.Chat_App--Type_Message--Form button {
  background-color: rgb(25, 25, 25);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
}
