:root {
  --Chat_Main_Font: "Inter", sans-serif;
  --Chat_Sub_Font: "Varela Round", sans-serif;
  --Chat_Icon_Size: 30px;
  --Chat_Name: 18px;
  --Chat_Show_Details: 14px;
  --Chat_Username: 16px;
  --Chat_Message: 18px;
}

.Chat_Page {
  background-color: black;
  color: rgb(229, 229, 229);
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
}

.Chat_Friends_List_Container {
  height: 100%;
  width: 25%;
  min-width: 400px;
}

.Chat_Container {
  background-color: rgb(20, 33, 61);
  height: 100%;
  width: 75%;
}

.Chat--Details {
  background-color: rgb(25, 25, 25);
  height: 70px;
  width: 100%;
  padding: 0.5em;
  display: flex;
  align-items: center;
}

.Chat--Back_Button {
  display: none;
}

.Chat--Image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 0.5em 1em;
}

.Chat--Image_Icon_Container {
  background-color: rgb(20, 33, 61);
  display: flex;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.Chat--Image_Icon {
  font-size: var(--Chat_Icon_Size);
  color: white;
}

.Chat--Name {
  font-family: var(--Chat_Main_Font);
  font-size: var(--Chat_Name);
  margin-bottom: 0.3em;
}

.Chat--Show_Details {
  font-family: var(--Chat_Main_Font);
  font-size: var(--Chat_Show_Details);
  cursor: pointer;
}

.Chat--Messages {
  height: calc(100% - 120px);
  width: 100%;
  padding: 0em 0.7em;
  overflow-y: scroll;
}

.Chat--Messages::-webkit-scrollbar {
  width: 3px;
}

.Chat--Messages::-webkit-scrollbar-track {
  background: rgb(20, 33, 61);
  border-radius: 3px;
}

.Chat--Messages::-webkit-scrollbar-thumb {
  background: rgb(20, 33, 61);
  border-radius: 3px;
}

.Chat--Messages:hover::-webkit-scrollbar-thumb {
  background: rgb(100, 99, 99);
  border-radius: 3px;
}

.Chat--Message_Card {
  width: fit-content;
  padding: 0.6em 1.5em;
  border-style: none;
  margin: 0.2em 0em;
}

.Chat--Message_Card--Others {
  background-color: rgb(15, 15, 15);
  margin-right: auto;
  border-radius: 10px 10px 10px 0px;
}

.Chat--Message_Card--Own {
  background-color: black;
  margin-left: auto;
  border-radius: 10px 10px 0px 10px;
}

.Chat--Message_Card p {
  font-family: var(--Chat_Sub_Font);
}

.Chat--Message_Card--Username {
  font-size: var(--Chat_Username);
  font-weight: 600;
  margin-bottom: 0.3em;
}

.Chat--Message_Card--Username--Inactive {
  display: none;
}

.Chat--Message_Card--Message {
  font-size: var(--Chat_Message);
}

.Chat--Message_Card--Time {
  text-align: end;
  font-size: 10px;
  margin-top: 1em;
}

.Chat--New_Message {
  background-color: rgb(25, 25, 25);
  height: 50px;
}

.Chat--New_Message--Form {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Chat--New_Message--Form textarea {
  background-color: rgb(25, 25, 25);
  font-family: var(--Chat_Sub_Font);
  font-size: 16px;
  color: white;
  line-height: 1.25;
  display: inline-block;
  height: 50px;
  width: 70%;
  resize: none;
  overflow: hidden;
  padding: 15px 0;
  border: 0px;
  margin-right: 2em;
  outline: none;
}

.Chat--New_Message--Form button {
  background-color: rgb(25, 25, 25);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
}

@media (max-width: 1200px) {
  :root {
    --Chat_Username: 16px;
    --Chat_Message: 18px;
  }

  .Chat_Friends_List_Container {
    display: none;
  }

  .Chat_Container {
    width: 100%;
  }

  .Chat--Back_Button {
    display: inline-block;
  }

  .Chat--Back_Button--Icon {
    font-size: 25px;
  }

  .Chat--Message_Card {
    max-width: 50%;
    padding: 0.4em 1em;
  }

  .Chat--Message_Card--Own {
    border-radius: 10px 10px 0px 10px;
  }

  .Chat--Message_Card--Others {
    border-radius: 10px 10px 10px 0px;
  }
}

@media (max-width: 800px) {
  :root {
    --Chat_Name: 17px;
    --Chat_Show_Details: 13px;
    --Chat_Username: 14px;
    --Chat_Message: 16px;
  }
}

@media (max-width: 550px) {
  :root {
    --Chat_Username: 12px;
    --Chat_Message: 14px;
  }

  .Chat--Message_Card {
    padding: 0.6em 0.8em;
  }

  .Chat--Message_Card--Own {
    border-radius: 8px 8px 0px 8px;
  }

  .Chat--Message_Card--Others {
    border-radius: 8px 8px 8px 0px;
  }
}
