:root {
  --CreateGroup_Main_Font: "Inter", sans-serif;
  --CreateGroup_Sub_Font: "Varela Round", sans-serif;
  --CreateGroup--Close: 20px;
  --CreateGroup--Heading: 20px;
  --CreateGroup--Input: 16px;
  --CreateGroup--Create_Button: 14px;
  --CreateGroup--Friends_List_Icon: 30px;
  --CreateGroup--Friends_List_Username: 16px;
  --CreateGroup--Friends_List_Userid: 14px;
  --CreateGroup--Friends_Selected_Icon: 25px;
}

.CreateGroup_Page {
  background-color: rgb(15, 15, 15);
  color: white;
  height: 100%;
  width: 100%;
  padding-block: 0.5em;
}

.CreateGroup_Container {
  position: relative;
  background-color: rgb(35, 35, 35);
  max-width: 600px;
  height: 100%;
  padding-block: 0.5em;
  border-radius: 8px;
  margin-inline: auto;
}

.CreateGroup--Close {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: var(--CreateGroup--Close);
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.CreateGroup--Group_Details {
  width: 100%;
  height: 120px;
  padding: 0.5em;
}

.CreateGroup--Group_Details--Heading {
  font-family: var(--CreateGroup_Main_Font);
  font-size: var(--CreateGroup--Heading);
  font-weight: 600;
  margin-bottom: 0.5em;
}

.CreateGroup--Group_Details input {
  font-family: var(--CreateGroup_Main_Font);
  font-size: var(--CreateGroup--Input);
  display: block;
  width: 100%;
  padding: 0.2em;
  padding-top: 0.3em;
  border-style: none;
  border-radius: 4px;
  margin-bottom: 0.7em;
  outline: none;
}

.CreateGroup--Group_Details--Create_Button_And_Character_Count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CreateGroup--Group_Details--Character_Count {
  font-family: var(--CreateGroup_Sub_Font);
  font-size: var(--CreateGroup--Input);
  color: rgb(256, 256, 256, 0.6);
}

.CreateGroup--Group_Details button {
  font-family: var(--CreateGroup_Sub_Font);
  font-size: var(--CreateGroup--Create_Button);
  font-weight: 600;
  padding: 0.5em 0.8em;
  border-style: none;
  border-radius: 5px;
}

.CreateGroup--Group_Details--Create {
  background-color: rgb(112, 224, 0);
  border: 2px solid black;
  cursor: pointer;
  &:hover {
    background-color: black;
    color: rgb(112, 224, 0);
    border: 2px solid rgb(112, 224, 0);
  }
}

.CreateGroup--Group_Details--Create--Inactive {
  background-color: rgb(112, 224, 0, 0.5);
}

.CreateGroup--Select_Friends {
  width: 100%;
  height: calc(100% - 120px);
}

.CreateGroup--Select_Friends--Search {
  width: 100%;
  height: 70px;
  padding: 0.5em;
}

.CreateGroup--Select_Friends--Heading {
  font-family: var(--CreateGroup_Main_Font);
  font-size: var(--CreateGroup--Heading);
  font-weight: 600;
  margin-bottom: 0.3em;
}

.CreateGroup--Select_Friends--Search input {
  font-family: var(--CreateGroup_Main_Font);
  font-size: var(--CreateGroup--Input);
  display: block;
  width: 100%;
  padding: 0.2em;
  padding-top: 0.3em;
  border-style: none;
  border-radius: 4px;
  margin-bottom: 0.7em;
  outline: none;
}

.CreateGroup--Select_Friends--Friends_List {
  width: 100%;
  height: calc(100% - 70px);
  padding: 0.5em;
  overflow-y: scroll;
}

.CreateGroup--Select_Friends--Friends_List::-webkit-scrollbar {
  width: 0px;
}

.CreateGroup--Friends_List--Friend {
  background-color: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.CreateGroup--Friends_List--Friend + .CreateGroup--Friends_List--Friend {
  margin-top: 1em;
}

.CreateGroup--Friends_List--Friend_Image_Container {
  display: flex;
  min-width: 12%;
  justify-content: center;
  align-items: center;
}

.CreateGroup--Friends_List--Friend_Image {
  background-color: rgb(20, 33, 61);
  display: flex;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.CreateGroup--Friends_List--Friend_Image_Frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  mask: radial-gradient(circle, black 22.5px, transparent 22.6px);
}

.CreateGroup--Friends_List--Friend_Image_Frame img {
  max-height: 100%;
  max-width: 100%;
}

.CreateGroup--Friends_List--Friend_Icon {
  font-size: var(--CreateGroup--Friends_List_Icon);
}

.CreateGroup--Friends_List--Friend_Details {
  font-family: var(--CreateGroup_Main_Font);
  min-width: 88%;
  display: flex;
  align-items: center;
}

.CreateGroup--Friends_List--Friend_Details--Name_And_Id {
  min-width: 80%;
}

.CreateGroup--Friends_List--Friend_Username {
  font-size: var(--CreateGroup--Friends_List_Username);
  font-weight: 600;
  min-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.1em;
}

.CreateGroup--Friends_List--Friend_Userid {
  font-size: var(--CreateGroup--Friends_List_Userid);
  color: rgb(256, 256, 256, 0.6);
  min-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CreateGroup--Friends_List--Friend_Details--Selected {
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CreateGroup--Friends_List--Friend_Details--Selected_Icon {
  font-size: var(--CreateGroup--Friends_Selected_Icon);
  color: rgb(112, 224, 0);
}

.Inactive {
  display: none;
}

@media (max-width: 1000px) {
  :root {
    --CreateGroup--Heading: 18px;
    --CreateGroup--Input: 15px;
    --CreateGroup--Create_Button: 13px;
    --CreateGroup--Friends_List_Icon: 30px;
    --CreateGroup--Friends_List_Username: 15px;
    --CreateGroup--Friends_List_Userid: 13px;
    --CreateGroup--Friends_Selected_Icon: 23px;
  }

  .CreateGroup--Group_Details {
    height: 110px;
  }

  .CreateGroup--Group_Details input {
    margin-bottom: 0.5em;
  }

  .CreateGroup--Group_Details--Heading {
    margin-bottom: 0.5em;
  }

  .CreateGroup--Select_Friends {
    height: calc(100% - 110px);
  }

  .CreateGroup--Friends_List--Friend + .CreateGroup--Friends_List--Friend {
    margin-top: 0.5em;
  }
}

@media (max-width: 600px) {
  :root {
    --CreateGroup--Heading: 16px;
    --CreateGroup--Input: 15px;
    --CreateGroup--Create_Button: 12px;
    --CreateGroup--Friends_Selected_Icon: 20px;
  }

  .CreateGroup_Page {
    padding-block: 0em;
  }

  .CreateGroup--Close {
    top: 10px;
    right: 10px;
  }

  .CreateGroup_Container {
    padding-block: 1em;
    border-radius: 0px;
  }

  .CreateGroup--Group_Details {
    height: 100px;
  }

  .CreateGroup--Select_Friends {
    height: calc(100% - 100px);
    padding-top: 0.5em;
  }

  .CreateGroup--Friends_List--Friend + .CreateGroup--Friends_List--Friend {
    margin-top: 0.5em;
  }

  .CreateGroup--Friends_List--Friend_Image_Container {
    min-width: 15%;
  }

  .CreateGroup--Friends_List--Friend_Details {
    min-width: 85%;
  }
}
