:root {
  --FindFriends_Main_Font: "Inter", sans-serif;
  --FindFriends_Sub_Font: "Varela Round", sans-serif;
  --FindFriends--Selected_User_Icon: 60px;
  --FindFriends--Selected_User--Username: 22px;
  --FindFriends--Selected_User--Userid: 18px;
  --FindFriends--Selected_User--Mail: 18px;
  --FindFriends--Selected_User--Send_Request_Button: 16px;
  --FindFriends_Searchbar: 16px;
  --FindFriends_User_Icon_Size: 30px;
  --FindFriends_Username: 18px;
  --FindFriends_Userid: 16px;
  --FindFriends_Instructions: 18px;
}

.FindFriends_Page {
  background-color: rgb(25, 25, 25);
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1em;
}

.FindFriends--Selected_User_Container {
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FindFriends--Selected_User {
  position: relative;
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: var(--FindFriends_Main_Font);
  width: 90%;
  max-width: 500px;
  padding: 2em 3em;
  border-radius: 7px;
}

.FindFriends--Selected_User--Back_Button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.FindFriends--Selected_User--Back_Button--Icon {
  font-size: 30px;
  cursor: pointer;
}

.FindFriends--Selected_User--Image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.FindFriends--Selected_User--Image_Icon_Container {
  background-color: rgb(20, 33, 61);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.FindFriends--Selected_User--Image_Icon {
  font-size: var(--FindFriends--Selected_User_Icon);
}

.FindFriends--Selected_User--Username {
  font-size: var(--FindFriends--Selected_User--Username);
  font-weight: 600;
  letter-spacing: 1px;
}

.FindFriends--Selected_User--Userid {
  font-size: var(--FindFriends--Selected_User--Userid);
  margin: 0.1em 0em 0.5em 0em;
}

.FindFriends--Selected_User--Mail {
  font-size: var(--FindFriends--Selected_User--Mail);
}

.FindFriends--Selected_User--Send_Request_Button {
  background-color: rgb(112, 224, 0);
  font-size: var(--FindFriends--Selected_User--Send_Request_Button);
  font-weight: 600;
  padding: 0.5em 1em;
  border-style: none;
  border-radius: 7px;
  margin-top: 1.5em;
  cursor: pointer;
  &:hover {
    background-color: black;
    color: rgb(112, 224, 0);
  }
}

.FindFriends--Selected_User_Container--Hidden {
  display: none;
}

.FindFriends_Container {
  height: 100%;
  width: 100%;
  max-width: 600px;
  padding: 0em 2em;
  margin: 0em auto;
}

.FindFriends--SearchBar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FindFriends--SearchBar_Input {
  font-family: var(--FindFriends_Main_Font);
  font-size: var(--FindFriends_Searchbar);
  letter-spacing: 1px;
  display: block;
  width: 100%;
  padding: 0.5em;
  border-style: none;
  border-radius: 7px;
  margin: 0em auto;
  outline: none;
}

.FindFriends--Search_Results {
  height: calc(100% - 60px);
  overflow-y: scroll;
}

.FindFriends--Search_Results::-webkit-scrollbar {
  width: 3px;
}

.FindFriends--Search_Results::-webkit-scrollbar-track {
  background: rgb(25, 25, 25);
  border-radius: 3px;
}

.FindFriends--Search_Results::-webkit-scrollbar-thumb {
  background: rgb(25, 25, 25);
  border-radius: 3px;
}

.FindFriends--Search_Results:hover::-webkit-scrollbar-thumb {
  background: rgb(100, 99, 99);
}

.FindFriends--User_Card {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: var(--FindFriends_Main_Font);
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  margin: 1em 0em;
  cursor: pointer;
  &:hover {
    background-color: black;
  }
}

.FindFriends_User_Card--Image {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
}

.FindFriends_User_Card--Image_Icon_Container {
  background-color: rgb(20, 33, 61);
  display: flex;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.FindFriends_User_Card--Image_Icon {
  font-size: var(--FindFriends_User_Icon_Size);
  color: white;
}

.FindFriends_User_Card--Details {
  width: 85%;
}

.FindFriends_User_Card--Username {
  font-size: var(--FindFriends_Username);
  font-weight: 700;
  margin-bottom: 0.3em;
}

.FindFriends_User_Card--Userid {
  font-size: var(--FindFriends_Userid);
  color: rgb(254, 254, 254, .7);
}

.FindFriends--Instructions {
  margin-top: 2em;
}

.FindFriends--Instructions_Message {
  font-family: var(--FindFriends_Sub_Font);
  font-size: var(--FindFriends_Instructions);
  line-height: 1.5;
  word-spacing: 5px;
  letter-spacing: 1px;
  color: white;
}

@media (max-width: 1000px) {
  :root {
    --FindFriends--Selected_User_Icon: 50px;
    --FindFriends--Selected_User--Username: 20px;
    --FindFriends--Selected_User--Userid: 16px;
    --FindFriends--Selected_User--Mail: 16px;
    --FindFriends--Selected_User--Send_Request_Button: 14px;
  }

  .FindFriends--Selected_User {
    padding: 1.5em 2.5em;
  }

  .FindFriends--Selected_User--Back_Button--Icon {
    font-size: 25px;
  }

  .FindFriends--Selected_User--Image_Icon_Container {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 600px) {
  :root {
    --FindFriends--Selected_User_Icon: 40px;
    --FindFriends--Selected_User--Username: 18px;
    --FindFriends--Selected_User--Userid: 14px;
    --FindFriends--Selected_User--Mail: 14px;
    --FindFriends--Selected_User--Send_Request_Button: 12px;
    --FindFriends_Username: 16px;
    --FindFriends_Userid: 14px;
    --FindFriends_Instructions: 16px;
  }

  .FindFriends--Selected_User {
    padding: 1em 2em;
  }

  .FindFriends--Selected_User--Back_Button--Icon {
    font-size: 22px;
  }

  .FindFriends--Selected_User--Image_Icon_Container {
    width: 60px;
    height: 60px;
  }

  .FindFriends_Container {
    padding: 0em;
  }
}
