:root {
  --Friends_Main_Font: "Inter", sans-serif;
  --Friends_Sub_Font: "Varela Round", sans-serif;
  --Friends_User_Icon_Size: 30px;
  --Friends_Chat_Name: 18px;
  --Friends_Last_Message: 16px;
  --Friends_Last_Message_Time: 14px;
  --Friends_Welcome_Title: 24px;
  --Friends_Welcome_Greeting: 16px;
}

.Friends_Page {
  background-color: black;
  color: rgb(229, 229, 229);
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
}

.Friends_List {
  background-color: rgb(20, 33, 61);
  font-family: var(--Friends_Main_Font);
  height: 100%;
  width: 25%;
  min-width: 400px;
  padding: 0.5em;
  border-radius: 5px;
}

.Friends_List--Search {
  width: 100%;
}

.Friends_List--Search input {
  display: block;
  width: 100%;
  padding: 0.4em 0.2em 0.2em 0.2em;
}

.Friends_List--Friend_Card {
  background-color: black;
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  gap: .5em;
  padding: 0.5em;
  border-radius: 5px;
  margin: 1em 0em;
  cursor: pointer;
  &:hover {
    background-color: rgb(20, 20, 20);
  }
}

.Friend_Card--Image {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
}

.Friend_Card--Image_Icon_Container {
  background-color: rgb(20, 33, 61);
  display: flex;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.Friend_Card--Image_Icon {
  font-size: var(--Friends_User_Icon_Size);
  color: white;
}

.Friend_Card--Details {
  width: 85%;
}

.Friend_Card--Name_And_Time {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Friend_Card--Name {
  font-size: var(--Friends_Chat_Name);
  margin-bottom: 0.3em;
}

.Friend_Card--Time {
  font-size: var(--Friends_Last_Message_Time);
}

.Friend_Card--Message {
  font-size: var(--Friends_Last_Message);
}

.Friends_Chat {
  background-color: rgb(20, 33, 61);
  font-family: var(--Friends_Sub_Font);
  display: flex;
  height: 100%;
  width: 75%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.Friends_Welcome_Card {
  background-color: rgb(0, 0, 0, .4);
  max-width: 600px;
  padding: 2em;
  border-radius: 10px;
}

.Friends_Welcome_Card--Title {
  font-size: var(--Friends_Welcome_Title);
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-bottom: .7em;
}

.Friends_Welcome_Card--Greeting {
  font-size: var(--Friends_Welcome_Greeting);
  letter-spacing: 1.3px;
  word-spacing: 5px;
  line-height: 1.5;
}