:root {
  --Chat_Main_Font: "Inter", sans-serif;
  --Chat_Sub_Font: "Varela Round", sans-serif;
  --Login_Enter_Name_Label: 18px;
  --Login_Enter_Name_Input: 18px;
  --Login_Error_Message: 16px;
  --Login_Submit_Name_Button: 16px;
}

.Login_Page {
  background-color: rgb(25, 25, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
}

.Login_Page--Form {
  background-color: rgb(255, 255, 255, 0.7);
  width: 90%;
  max-width: 500px;
  padding: 2em 0.5em;
  border-style: none;
  border-radius: 10px;
  box-shadow: 5px 5px black;
}

.Login_Page--Form label {
  font-family: var(--Chat_Sub_Font);
  font-size: var(--Login_Enter_Name_Label);
  font-weight: 600;
  cursor: pointer;
}

.Login_Page--Form input {
  font-family: var(--Chat_Sub_Font);
  font-size: var(--Login_Enter_Name_Input);
  display: block;
  width: 80%;
  max-width: 300px;
  padding: 0.4em 0em 0.2em 0.3em;
  border-radius: 7px;
  border: 2px solid black;
  margin: 0.3em 0em;
  cursor: text;
}

input.Login_Input--Error {
  background-color: rgb(245, 120, 120);
  border: 2px solid red;
}

.Login_Form--Field p {
  font-family: var(--Chat_Main_Font);
  font-size: var(--Login_Error_Message);
  color: rgb(177, 0, 0);
}

.Login_Page--Form button {
  font-family: var(--Chat_Main_Font);
  font-size: var(--Login_Submit_Name_Button);
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 0.5em 1.2em;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
}

.Login_Form--Field {
  margin: 1em 0em;
}

.Login--Toggle {
  font-family: var(--Chat_Main_Font);
  font-size: 14px;
  text-align: center;
  margin-top: 1em;
}

.Login--Toggle span {
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: blue;
  }
}

@media (max-width: 550px) {
  :root {
    --Login_Enter_Name_Label: 16px;
    --Login_Enter_Name_Input: 16px;
    --Login_Error_Message: 14px;
    --Login_Submit_Name_Button: 14px;
  }

  .Login_Page--Form input {
    max-width: 250px;
  }
}
