:root {
  --Profile_Main_Font: "Inter", sans-serif;
  --Profile_Sub_Font: "Varela Round", sans-serif;
  --Profile_User_Icon_Size: 120px;
  --Profile--Image_Edit--Icon: 20px;
  --Profile_Credential: 18px;
  --Profile_Edit_Button: 22px;
  --Profile_Input: 16px;
  --Profile_Edit_Credentials_Button: 14px;
  --Profile_Logout_Button: 14px;
}

.Profile_Page {
  position: relative;
  background-color: rgb(20, 20, 20);
  height: 100%;
  width: 100%;
  padding: 1em;
  overflow-y: scroll;
}

.Profile_Page::-webkit-scrollbar {
  width: 3px;
}

.Profile_Page::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
  border-radius: 3px;
}

.Profile_Page::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 20);
  border-radius: 3px;
}

.Profile_Page:hover::-webkit-scrollbar-thumb {
  background: rgb(100, 99, 99);
  border-radius: 3px;
}

.Profile--Confirm_Profile_Picture--Container {
  background-color: rgb(0, 0, 0, 0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile--Confirm_Profile_Picture {
  background-color: rgb(20, 20, 20);
  font-family: var(--Profile_Main_Font);
  color: white;
  width: 95%;
  max-width: 500px;
  padding: 2em;
  border-radius: 7px;
}

.Profile--Confirm_Profile_Picture--Heading {
  font-size: var(--Profile_Credential);
  font-weight: 600;
  text-align: center;
  word-spacing: 5px;
  scale: 1.2;
}

.Profile--Confirm_Profile_Picture--Message {
  font-size: var(--Profile_Credential);
  margin-block: 1.5em 1em;
}

.Profile--Confirm_Profile_Picture button {
  font-family: var(--Profile_Sub_Font);
  font-size: var(--Profile_Edit_Credentials_Button);
  font-weight: 600;
  padding: 0.5em 1.2em;
  border-style: none;
  border: 2px solid rgb(25, 25, 25);
  border-radius: 8px;
  cursor: pointer;
}

.Profile--Confirm_Profile_Picture--Confirm_Button {
  background-color: rgb(16, 226, 69);
  margin-right: 0.7em;
  &:hover {
    background-color: rgb(25, 25, 25);
    color: rgb(16, 226, 69);
    border: 2px solid rgb(16, 226, 69);
  }
}

.Profile--Confirm_Profile_Picture--Cancel_Button {
  background-color: red;
  margin-right: 0.7em;
  &:hover {
    background-color: rgb(25, 25, 25);
    color: red;
    border: 2px solid red;
  }
}

.Profile--Confirm_Profile_Picture--Inactive {
  display: none;
}

.Profile {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: var(--Profile_Main_Font);
  height: 100%;
  padding-inline: 2em;
  padding-top: 2em;
  border-radius: 20px;
}

.Profile--Image {
  position: relative;
  background-color: rgb(20, 33, 61);
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 50%;
  margin-inline: auto;
}

.Profile--Image_Frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  mask: radial-gradient(circle, black 75px, transparent 76px);
}

.Profile--Image img {
  max-width: 100%;
  max-height: 100%;
}

.Profile--Image--Icon {
  font-size: var(--Profile_User_Icon_Size);
}

#Profile--Image_Select {
  display: none;
}

.Profile--Image_Edit--Icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: var(--Profile--Image_Edit--Icon);
  cursor: pointer;
  &:hover {
    color: rgb(16, 226, 69);
  }
}

.Profile--Details {
  margin-top: 4em;
}

.Profile--Credential_Container {
  background-color: rgb(25, 25, 25);
  width: 100%;
  max-width: 600px;
  padding: 2em 1em;
  border-radius: 10px;
  margin-bottom: 2em;
  margin-inline: auto;
}

.Profile--Show_Credential {
  display: flex;
}

.Profile--Credential {
  font-size: var(--Profile_Credential);
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Profile--Show_Credential--Inactive {
  display: none;
}

.Profile--Edit_Credentials--Input_Section {
  margin-bottom: 1em;
}

.Profile--Edit_Credentials--Label {
  display: block;
  margin-bottom: 0.5em;
}

.Profile--Edit_Credentials--Input_Container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.Profile--Edit_Credentials--Input_And_Character_Count {
  display: flex;
  align-items: center;
}

.Profile--Edit_Credentials--Input {
  font-size: var(--Profile_Input);
  width: 50%;
  padding: 0.3em;
  border-style: none;
  border-radius: 3px;
  outline: none;
}

.Profile--Edit_Credentials--Character_Count {
  font-family: var(--Profile_Sub_Font);
  font-size: var(--Profile_Input);
  color: rgb(150, 150, 150);
  margin-left: 1em;
}

.Profile--Edit_Credentials--Input--Show {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.Profile--Edit_Credentials--Input--Show--Inactive {
  display: none;
}

.Profile--Edit_Credential_Error {
  margin-block: 0.3em 0.8em;
}

.Profile--Edit_Credential_Error--Message {
  color: rgb(249, 47, 47);
}

.Profile--Edit_Credential_Error--Inactive {
  display: none;
}

.Profile--Edit_Credentials--Buttons button {
  font-family: var(--Profile_Sub_Font);
  font-size: var(--Profile_Edit_Credentials_Button);
  font-weight: 600;
  padding: 0.5em 1.2em;
  border-style: none;
  border: 2px solid rgb(25, 25, 25);
  border-radius: 8px;
  cursor: pointer;
}

.Profile--Edit_Credentials--Buttons--Cancel {
  background-color: red;
  margin-right: 0.7em;
  &:hover {
    background-color: rgb(25, 25, 25);
    color: red;
    border: 2px solid red;
  }
}

.Profile--Edit_Credentials--Buttons--Save {
  background-color: rgb(16, 226, 69);
  margin-right: 0.7em;
  &:hover {
    background-color: rgb(25, 25, 25);
    color: rgb(16, 226, 69);
    border: 2px solid rgb(16, 226, 69);
  }
}

.Profile--Edit_Credential_Button {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile--Edit_Credential_Button--Icon {
  font-size: var(--Profile_Edit_Button);
  cursor: pointer;
  &:hover {
    color: rgb(16, 226, 69);
  }
}

.Profile--Edit_Credentials--Inactive {
  display: none;
}

.Profile--Logout {
  width: 100%;
  max-width: 600px;
  padding-bottom: 4em;
  margin-inline: auto;
}

.Profile--Logout_Button {
  background-color: red;
  font-family: var(--Profile_Sub_Font);
  font-size: var(--Profile_Logout_Button);
  font-weight: 600;
  padding: 0.6em 1.2em;
  border-style: none;
  border: 2px solid rgb(20, 20, 20);
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: rgb(20, 20, 20);
    color: red;
    border: 2px solid red;
  }
}

@media (max-width: 600px) {
  :root {
    --Profile_User_Icon_Size: 80px;
    --Profile_Credential: 16px;
    --Profile_Edit_Button: 20px;
    --Profile_Input: 16px;
    --Profile_Edit_Credentials_Button: 14px;
    --Profile_Logout_Button: 14px;
  }

  .Profile--Image {
    width: 120px;
    height: 120px;
  }

  .Profile--Details {
    margin-top: 2em;
  }

  .Profile--Edit_Credentials--Input {
    width: 60%;
  }
}

@media (max-width: 450px) {
  .Profile {
    padding-inline: 0em;
  }

  .Profile--Edit_Credentials--Input {
    width: 70%;
  }
}
